/* 
    Document   : target-selection-function
    Created on : 26/06/2014, 11:56:07 AM
    Author     : Will
    Description:
        Purpose of the stylesheet follows.
*/

.panel-container {
	padding: 15px;
}

.panel {
	float: left;
	border: 1px solid #20526e;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.panel>.panel-title {
	padding: 10px;
	color: white;
	background-color: #20526e;
	border-color: #20526e;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
}




.principal-panel ul {
	background-color: #FAF7F7;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	list-style: none;
	font-size: 15px;
}

.principal-panel ul li {
	color: #20526e;
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: pointer;
	border: 1px solid #20526e;
}

.arrow-right{
	padding-right: 10px;
}

.principal-panel ul li:hover {
	color: white;
	/* border: 1px solid #428bca; */
	background-color: #428bca;
}

.li-active {
	color: white !important;
	border: 1px solid #428bca;
	background-color: #428bca;
}

.target-panel {
	width: 25%;
	float: left;
	margin-left: 20px;
	padding: 15px;
	border: 1px solid #20526e;
	background-color: #428bca;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.select-style {
	width: 100%;
}

