*.volt.php
/nbproject
app/cache/metadata/*
/app/config/configuration.ini
/app/logs/dbdebug.log
/app/logs/debug.log
/app/views/templates/signin.volt%%e%%.php
/app/views/templates/index_new.volt%%e%%.php
/public/css/style.css
/app/views/templates/index.volt%%e%%.php
/public/css/normalize.css
/tmp/ifiles/6_1309102134_522f905b09196.csv
/tmp/ifiles/6_1309102135_522f90b42f4f1.csv
nbproject/private/private.xml
/tmp/ifiles/
/app/logs/bgdbdebug.log
/app/logs/bgprocess.log
/public/phpinfo.php
/assets/13/
/public/assets/13/
/public/assets/14/
/app/views/templates/editor_template.volt%%e%%.php
/public/templates/65/
/public/templates/64/
/public/templates/67/
/public/templates/66/
/public/templates/68/
/public/templates/
/public/assets/6/
public/assets/3/images/268.jpg
public/assets/3/images/268_thumb.png
public/assets/3/images/269.jpg
public/assets/3/images/269_thumb.png
/app/tests/logs/debug.log
10000Contactos(MTA).csv
Archivos Extras/Swift Mailer/swiftmailer-5.0.3/tests/unit/Swift/Transport/StreamBufferTest.php
app/library/SmartSelect.php
/tmp/mreports/