*.volt.php
app/cache/metadata/*
/app/config/configuration.ini
/app/logs/dbdebug.log
/app/logs/debug.log
/app/views/templates/signin.volt%%e%%.php
/app/views/templates/index_new.volt%%e%%.php
/public/css/style.css
/app/views/templates/index.volt%%e%%.php
/public/css/normalize.css