/* 
    Document   : target-selection-function
    Created on : 26/06/2014, 11:56:07 AM
    Author     : Will
    Description:
        Purpose of the stylesheet follows.
*/

.panel-container {
	padding: 15px;
}

.sgm-panel {
	margin-bottom: 12px;
	border: 1px solid #20526e;
	height: 200px;
	background-color: white;
}

.sgm-panel > .panel-title {
	padding: 10px;
	color: white;
	background-color: #20526e;
	border-color: #20526e;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
}

.sgm-panel .sgm-close-panel {
	display: block;
	height: 20px;
	width: 20px;
	line-height: 20px;
	font-size: 20px;
	position: absolute;
	color: red;
	right: 6px;
	top: -10px;
	cursor: pointer;
	border-radius: 50%;
	background-color: white;
}

.sgm-add-panel {
	display: block;
	line-height: 20px;
	font-size: 13px;
	position: absolute;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: white;
	right: 28px;
	bottom: 18px;
	cursor: pointer;
	border-radius: 4px;
	background-color: green;
}

.sgm-left-arrow-border {
    position: absolute;
    top: 20%;
    left: -5px;
    width: 0;    height: 0;    
    border-top: 11px solid transparent;   
    border-bottom: 11px solid transparent;       
    border-right: 21px solid black;
}

.sgm-left-arrow {
    position: absolute;
    top: 20%;
    left: -4px;
    width: 0;    height: 0;    
    border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;       
    border-right: 20px solid white;
}

.sgm-content-selector ul {
	background-color: #FAF7F7;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	list-style: none;
	font-size: 15px;
	font-weight: bold;
}

.sgm-content-selector ul li {
	color: #20526e;
	padding-left: 10px;
	padding-top: 12px;
	padding-bottom: 12px;
	cursor: pointer;
	border: 1px solid #20526e;
}

.sgm-content-selector ul li:hover {
	color: white;
	/* border: 1px solid #428bca; */
	background-color: #428bca;
}

.li-active {
	color: white !important;
	border: 1px solid #428bca;
	background-color: #428bca;
}

.sgm-selector-content {
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 12px;
}

.sgm-selector-content > .select2 {
	width: 77%;
}

.sgm-filter-content-header {
	width: 100%;
	font-size: 20px;
	padding: 10px;
	text-align: center;
}

.sgm-filter-content-header > .filter-icon {
	background-color: #428bca;
	color: white;
	padding: 4px;
	border-radius: 4px;
	cursor: pointer;
}

.sgm-button-add {
	background-color: green;
	color: white;
	padding: 3px;
	border-radius: 4px;
	right: 0px;
	cursor: pointer;
}

.sgm-button-reset {
	background-color: #428bca;
	color: white;
	padding: 3px;
	border-radius: 4px;
	right: 0px;
	cursor: pointer;
}

.sgm-box-content {
	width: 90%;
	border: 1px solid;
	height: 90px;
	margin: 12px;
	border-radius: 4px;
}

.sgm-item-added {
	background-color: #428bca;
	color: white;
	padding: 2px;
	margin: 2px;
	border-radius: 4px;
}

.sgm-remove-item-style {
	display: block;
	cursor: pointer;
	top: -8px;
	left: 91%;
	font-size: 16px;
}

.sgm-remove-item-style:hover {
	color: red;
	border: 1px solid white;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	background-color: white;
}

.sgm-panel-contacts-space {
	background-color: white;
	color: #20526e;
	padding: 16px;
	margin: 1%;
	border: 1px solid #20526e;
	border-radius: 4px;
	font-size: 16px;
	font-weight: bold;
}

.sgm-filter-content-body {
	padding: 24px;
}