/* 
    Document   : target-selection-function
    Created on : 26/06/2014, 11:56:07 AM
    Author     : Will
    Description:
        Purpose of the stylesheet follows.
*/

.panel-container {
	padding: 15px;
}

.sgm-panel {
	border-radius: 4px;
	margin-bottom: 12px;
	border: 1px solid #ddd;
	height: 280px;
	background-color: white;
}

.sgm-panel > .sgm-panel-title {
	padding: 10px;
	color: #20526e;
}

.sgm-panel .sgm-close-panel {
	display: block;
	height: 20px;
	width: 20px;
	line-height: 20px;
	font-size: 20px;
	position: absolute;
	color: #F5A9A9;
	right: 6px;
	top: -10px;
	cursor: pointer;
	border-radius: 50%;
	background-color: white;
}

.sgm-close-panel:hover {
	color: red;
}

.sgm-add-panel {
	right: 0%;
	top: 0%;
	position: absolute;
	padding: 0px;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	color: white;
	cursor: pointer;
	background-color: #CEF6CE;
	padding: 5px;
}

.sgm-add-panel:hover {
	background-color: green;
}

.sgm-box-footer-content {
	position: relative;
	width: 90%;
	height: 30px;
	margin-top: 8px;
	margin-left: auto;
	margin-right: auto;
}

.sgm-filter-content-footer {
	position: relative;
	width: 90%;
	height: 30px;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
}

.sgm-left-arrow-border {
    position: absolute;
    top: 20%;
    left: -5px;
    width: 0;    height: 0;    
    border-top: 11px solid transparent;   
    border-bottom: 11px solid transparent;       
    border-right: 21px solid #BDBDBD;
}

.sgm-left-arrow {
    position: absolute;
    top: 20%;
    left: -4px;
    width: 0;    height: 0;    
    border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;       
    border-right: 20px solid white;
}

.sgm-content-selector ul {
	background-color: white;
	margin-bottom: 0px;
	padding-top: 6px;
	padding-left: 8px;
	list-style: none;
	font-size: 15px;
	/*font-weight: bold;*/
}

.sgm-content-selector ul li {
	color: #20526e;
	padding-left: 10px;
	padding-top: 12px;
	padding-bottom: 12px;
	cursor: pointer;
	/*border: 1px solid #20526e;*/
}

.sgm-content-selector ul li:hover {
	color: white;
	background-color: #428bca;
	border-top-left-radius: 21px;
	border-bottom-left-radius: 21px;
}

/*.sgm-add-selector-avatar:hover {
	color: #20526e;
	background-color: white;
}*/

.li-active {
	color: white !important;
	border: 1px solid #428bca;
	background-color: #428bca;
	border-top-left-radius: 21px;
	border-bottom-left-radius: 21px;
}

.li-active>.sgm-add-selector-avatar{
	color: #20526e;
	background-color: white;
}

.sgm-add-selector-avatar {
	color: white;
	display: inline;
	background-color: #20526e;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	padding: 6px;
	margin-right: 8px;
}

.sgm-add-selector-avatar>.glyphicon {
	top: 2px !important;
	left: 2px !important;
}

.sgm-selector-content {
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 12px;
	position: relative;
}

/*.sgm-selector-content > .select2 {
	width: 77%;
}*/

.sgm-filter-content-header {
	width: 100%;
	font-size: 20px;
	padding: 10px;
	text-align: center;
}

.sgm-filter-content-header > .filter-icon {
	background-color: #adadad;
	color: white;
	width: 35px;
	height: 35px;
	padding: 5px;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
}

.sgm-button-add {
	position: absolute;
	right: 5%;
	top: 38%;
	background-color: #CEF6CE;
	color: white;
	padding: 4px;
	border-radius: 50%;
	cursor: pointer;
}

.sgm-button-add:hover {
	background-color: green;
}

.sgm-button-reset {
	background-color: #A1C4E2;
	color: white;
	padding: 4px;
	border-radius: 4px;
	right: 15%;
	top: 38%;
	cursor: pointer;
	position: absolute;
	border-radius: 50px;
}

.sgm-button-reset:hover {
	background-color: #428bca;
}

.sgm-box-content {
	width: 90%;
	background-color: #f5f5f5;
	border: 1px solid #BDBDBD;
	height: 120px;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;
}

.sgm-item-added {
	position: relative;
	background-color: #428bca;
	color: white;
	height: 26px;
	margin: 2px;
	border-radius: 5px;
}

.sgm-item-text {
	position: absolute;
	left: 5%;
	top: 12%;
}

.sgm-item-icon {
	position: absolute;
	cursor: pointer;
	height: 20px;
	width: 20px;
	top: 10%;
	right: 3%;
	font-size: 16px;
}

.sgm-item-icon:hover {
	color: red;
}

.sgm-panel-contacts-space {
	background-color: white;
	color: #20526e;
	padding: 20px;
	margin-bottom: 1%;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 16px;
}

.sgm-filter-content-body {
	padding: 8px;
	height: 120px;
}

.sgm-loading-image {
	display: inline-block;
	background: url('../images/loading4.GIF');
	width: 22px;
	height: 22px;
	background-repeat: no-repeat;
	background-size: 22px 22px;
	margin-left: 10px;
	margin-bottom: -5px;
}

.sgm-filter-active {
	background-color: #428bca !important;
	color: white !important;
	border: 1px solid #428bca !important;
}

.smg-filter:hover {
	background-color: #428bca;
}

.sgm-all-conditions{
	position: absolute;
	left: 0%;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	background-color: #BDBDBD;
	color: white;
	padding: 4px;
	cursor: pointer;
}

.sgm-any-conditions {
	position: absolute;
	left: 14%;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	background-color: #BDBDBD;
	color: white;
	padding-top: 3px;
	cursor: pointer;
	padding-left: 1px;
}

.sgm-all-conditions:hover {
	background-color: #428bca;
}

.sgm-any-conditions:hover {
	background-color: #428bca;
}

.sgm-condition-active {
	background-color: #428bca;
}

.sgm-mail-sent-icon {
	background: url('../images/mail-sent-icon.PNG');
	width: 22px;
	height: 22px;
	background-repeat: no-repeat;
	background-size: 22px 22px;
}

.sgm-mail-open-icon {
	background: url('../images/mail-open-icon.PNG');
	width: 22px;
	height: 22px;
	background-repeat: no-repeat;
	background-size: 22px 22px;
}

.select2-content {
	display: flex;
	font-size: 13px;
}

/*.select2-content-image {
	margin-top: 10px;
	border: 1px solid black;
}*/

