/* 
    Document   : target-selection-function
    Created on : 26/06/2014, 11:56:07 AM
    Author     : Will
    Description:
        Purpose of the stylesheet follows.
*/

.panel-container {
	padding: 15px;
}

.sgm-panel {
	margin-bottom: 12px;
	border: 1px solid #20526e;
	height: 200px;
	background-color: white;
}

.sgm-panel > .panel-title {
	padding: 10px;
	color: white;
	background-color: #20526e;
	border-color: #20526e;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
}

.sgm-panel .sgm-close-panel {
	display: block;
	height: 20px;
	width: 20px;
	line-height: 20px;
	font-size: 20px;
	position: absolute;
	color: red;
	right: 6px;
	top: -10px;
	cursor: pointer;
	border-radius: 50%;
	background-color: white;
}

.sgm-add-panel {
	display: block;
	height: 20px;
	width: 20px;
	line-height: 20px;
	font-size: 20px;
	position: absolute;
	color: green;
	right: 6px;
	bottom: 6px;
	cursor: pointer;
	border-radius: 50%;
	background-color: white;
}

.sgm-left-arrow-border {
    position: absolute;
    top: 20%;
    left: -5px;
    width: 0;    height: 0;    
    border-top: 11px solid transparent;   
    border-bottom: 11px solid transparent;       
    border-right: 21px solid black;
}

.sgm-left-arrow {
    position: absolute;
    top: 20%;
    left: -4px;
    width: 0;    height: 0;    
    border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;       
    border-right: 20px solid white;
}

.sgm-content-selector ul {
	background-color: #FAF7F7;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	list-style: none;
	font-size: 15px;
}

.sgm-content-selector ul li {
	color: #20526e;
	padding-left: 10px;
	padding-top: 12px;
	padding-bottom: 12px;
	cursor: pointer;
	border: 1px solid #20526e;
}

.sgm-content-selector ul li:hover {
	color: white;
	/* border: 1px solid #428bca; */
	background-color: #428bca;
}

.li-active {
	color: white !important;
	border: 1px solid #428bca;
	background-color: #428bca;
}

.target-panel {
	width: 25%;
	float: left;
	margin-left: 20px;
	padding: 15px;
	border: 1px solid #20526e;
	background-color: #428bca;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.select-style {
	width: 100%;
}