/*.container { min-width: 960px; }
.row-fluid input[type="text"], 
.row-fluid input[type="password"], 
.row-fluid input[type="datetime"], 
.row-fluid input[type="datetime-local"], 
.row-fluid input[type="date"], 
.row-fluid input[type="month"], 
.row-fluid input[type="time"], 
.row-fluid input[type="week"], 
.row-fluid input[type="number"], 
.row-fluid input[type="email"], 
.row-fluid input[type="url"], 
.row-fluid input[type="search"], 
.row-fluid input[type="tel"], 
.row-fluid input[type="color"], 
.row-fluid .uneditable-input {
	height: 16px;
}*/
.badge-number-dark,
.badge-number-light {
/*	height: 78px; */
	border-radius: 5px;
	margin: 5px;
	padding: 12px;
	text-align: right;
}
.badge-number-dark {
	background: #999;
}
.badge-number-light {
	background: #ddd;
}
.number-huge {
	font-size: 48px;
	font-weight: bold;
}
.number-large {
	font-size: 30px;
	font-weight: bold;
}

.number-medium {
	font-size: 24px;
	font-weight: bold;
}
.number-small {
	font-size: 11px;
}
.regular-text {
	font-size: 12px;
	color: #222;
}
.text-green-color {
	color: green;
}
.text-gray-color {
	color: #888;
}
.text-brown-color {
	color: #a99;
}
.text-red-color {
	color: red;
}
.text-blue-color {
	color: #003366;
}
.return-upper-right-corner {
	line-height: 150px;
	text-align: center;
}
.break-word {
	word-wrap: break-word;
}
.add {
	text-align: right;
}
.editdb {
	margin-left: 125px;
}
.contact-info {
	font-size: 15px;
	margin: 15px;
}
.contact-info td {
	height: 35px;
}
.filling {
  padding-right: 9px;
  padding-left: 9px;
  -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
          border-radius: 9px;
}
span.red-label {
	color: #8f3831;
	font-size: 14px;
	font-weight: bold;
}
span.primary-label {
	color: #8fae53; 
}

span.blue-label {
	color: #599cc7;
	font-size: 14px;
	font-weight: bold;
}
span.green-label {
	color: #6eb056;
	font-size: 14px;
	font-weight: bold;
}
span.yellow-label {
	color: #f5d313;
	font-weight: bold;
}
span.orange-label {
	color: #F59B00;
	font-size: 14px;
	font-weight: bold;
}
body {
	font-size: 13px;
}
#arraybatch {
	height: 200px;
}
.infobatch {
	width: 150px;
	height: 120px;
}
.badge-show-dark
.badge-show-medium
.badge-show-ligth {
	border-radius: 5px;
	margin: 5px;
	padding: 12px;
	text-align: center;
}
.badge-show-ligth {
	background: #E4E4E4;
}
.badge-show-medium {
	background: #BCBCBC;
}
.badge-show-dark {
	background: #A8A8A8;
}
.text-right {
	text-align: right;
}

.message-delete {
	font-size: 17px;
}



a.inactive {
   pointer-events: none;
   cursor: default;
}
.import {
	font-size: 25px;
}