/*.container { min-width: 960px; }
.row-fluid input[type="text"], 
.row-fluid input[type="password"], 
.row-fluid input[type="datetime"], 
.row-fluid input[type="datetime-local"], 
.row-fluid input[type="date"], 
.row-fluid input[type="month"], 
.row-fluid input[type="time"], 
.row-fluid input[type="week"], 
.row-fluid input[type="number"], 
.row-fluid input[type="email"], 
.row-fluid input[type="url"], 
.row-fluid input[type="search"], 
.row-fluid input[type="tel"], 
.row-fluid input[type="color"], 
.row-fluid .uneditable-input {
	height: 16px;
}*/
.badge-number-dark,
.badge-number-light {
/*	height: 78px; */
	border-radius: 5px;
	margin: 5px;
	padding: 12px;
	text-align: right;
}
.badge-number-dark {
	background: #999;
}
.badge-number-light {
	background: #ddd;
}
.number-huge {
	font-size: 48px;
	font-weight: bold;
}
.number-large {
	font-size: 30px;
	font-weight: bold;
}

.number-medium {
	font-size: 24px;
	font-weight: bold;
}
.number-small {
	font-size: 11px;
}
.regular-text {
	font-size: 12px;
	color: #222;
}
.text-green-color {
	color: green;
}
.text-gray-color {
	color: #888;
}
.text-brown-color {
	color: #a99;
}
.text-red-color {
	color: red;
}
.text-blue-color {
	color: #003366;
}
.return-upper-right-corner {
	line-height: 150px;
	text-align: center;
}
.break-word {
	word-wrap: break-word;
}
.add {
	text-align: right;
}
.editdb {
	margin-left: 125px;
}
.contact-info {
	font-size: 15px;
	margin: 15px;
}
.contact-info td {
	height: 35px;
}
.filling {
  padding-right: 9px;
  padding-left: 9px;
  -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
          border-radius: 9px;
}
span.red-label {
	color: #8f3831;
	font-size: 14px;
	font-weight: bold;
}
span.primary-label {
	color: #8fae53; 
}

span.blue-label {
	color: #599cc7;
}
span.green-label {
	color: #6eb056;
	font-size: 14px;
	font-weight: bold;
}
span.yellow-label {
	color: #f5d313;
	font-weight: bold;
}
span.orange-label {
	color: #F59B00;
	font-size: 14px;
	font-weight: bold;
}
body {
	font-size: 13px;
}
#arraybatch {
	height: 200px;
}
.infobatch {
	width: 150px;
	height: 120px;
}
.badge-show-dark
.badge-show-medium
.badge-show-ligth {
	border-radius: 5px;
	margin: 5px;
	padding: 12px;
	text-align: center;
}
.badge-show-ligth {
	background: #E4E4E4;
}
.badge-show-medium {
	background: #BCBCBC;
}
.badge-show-dark {
	background: #A8A8A8;
}
.text-right {
	text-align: right;
}

.message-delete {
	font-size: 17px;
}

a.inactive {
	disabled: link;
	pointer-events: none;
	cursor: default;
}
.import {
	font-size: 25px;
}

.sidebar-editor ul{
	list-style-type: none;
}

.optionsEditor {
	height: 45px;
	padding-top: 6px;
}

.BeforeFromEditor {
	margin-right: 15px;
}

.NextFromEditor {
	margin-right: 25px;
}

.VisualizeEditor {
	margin-left: 25px;
}

.SaveTemplate {
	margin-left: 15px;
}

.SaveContent {
	margin-left: 15px;
}

.relief {
	min-height: 20px;
	color: black;
	padding: 7px;
	margin-bottom: 10px;
	background-color: whitesmoke;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

.input-date-picker {
	height: 80%  !important;
	width: 40% !important;
	text-align: left !important;
	background-color: white !important;
}

/*#breadcrumbs {
	width: 0% !important;
}*/

.main-content-editor {
	margin-left: 5% !important;
}	

.sidebar-background-editor {
	width: 6% !important;
}

.sidebar-background .primary-sidebar-background-editor {
	width: 100% !important;
}

.primary-sidebar-editor {
	width: 0% !important;
}

/*
.nav-template > .active > a, .nav-pills > .active > a:hover {
	background-color: #60a1ca !important;
}
*/

.img-wrap{
	overflow:hidden;
	position:relative;
}

.img-info{
	background-color:#000;
	bottom:0;
	color:#fff;
	opacity:0;
	filter: alpha(opacity = 0);
	position:absolute;
	width:100%;
	height: 30%;
	z-index:1000;
	border-radius: 2px;
}
.img-info h4, .img-info p{
	padding:0 10px;
	margin-top: 8%;
	text-align: center;
	font-size: 10px;
}
.img-wrap:hover .img-info{
	opacity:0.55;
	filter: alpha(opacity = 75);
	transition:opacity 0.25s;
	-moz-transition:opacity 0.25s;
	-webkit-transition:opacity 0.25s;
}


.img-info-x2{
	background-color:#000;
	bottom:0;
	color:#fff;
	opacity:0;
	filter: alpha(opacity = 0);
	position:absolute;
	width:100%;
	height: 20%;
	z-index:1000;
}
.img-info h4, .img-info-x2 p{
	padding:0 10px;
	margin-top: 5%;
	text-align: center;
}
.img-wrap:hover .img-info-x2{
	opacity:0.55;
	filter: alpha(opacity = 75);
	transition:opacity 0.25s;
	-moz-transition:opacity 0.25s;
	-webkit-transition:opacity 0.25s;
}

.preview-modal {
	width: 70% !important;
	margin-left: auto !important;
	margin-right: auto !important;
	left: auto !important;
	height: 90%;
	margin-top: -35px;
}

.align-modal-body {
	margin: auto !important;
}

.btnoptions {
	display: none;
}

.templateName {
	margin-top: 15px;
	margin-right: 50px;
	margin-left: 15px;
}

.templateCategory {
	margin-top: 15px;
	margin-right: 5px;
}

.btnNewCategory, .btnSelectCategory {
	margin-top: 15px;
	margin-right: 25px;
}

.globalTemplateOpt {
	display: none;
	margin-top: 20px;
	margin-left: 20px;
}

.btnSelectCategory {
	display: none;
}

.templateBtns {
	margin-top: 15px;
}

.newcategory {
	display: none;
}

.templatePreview {
	margin-top: 15px;
	margin-right: 15px;
}

.frame-preview-thumbnail-html {
	border: none;
	width: 560px;
	height: 590px; 
	-moz-transform: scale(0.35);
	-moz-transform-origin: 0 0;
	-o-transform: scale(0.35);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(0.35);
	-webkit-transform-origin: 0 0;
}

.frame-preview-mail {
	width: 650px;
	height: 600px; 
	-moz-transform: scale(0.20);
	-moz-transform-origin: 0 0;
	-o-transform: scale(0.20);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(0.20);
	-webkit-transform-origin: 0 0;
}

.preview-mail {
	float: left;
	width: 200px; 
	height: 250px; 
	background-color: #f5f5f5;
	overflow: hidden !important; 
	border: 1px solid;
	border-color: #ddd;
	border-radius: 10px;
}

.not-available {
	/*background-image: url(../images/notavailable.png);*/
	text-align: center;
	/*padding-top: 40px;*/
	font-size: 18px;
	color: #636363;
}

.icon-not-available {
	padding-top: 58px;
	font-size: 70px;
}

.preview-template {
	float: left;
	width: 180px; 
	height: 230px; 
	overflow: hidden !important; 
	border: 1px solid;
	border-radius: 3px;
	margin-bottom: 10px;
}

.template-tools {
	margin-top: 10%;
	margin-left: auto; 
	margin-right: auto;
}

.not-available-template {
	background-image: url(../images/notavailabletemplate.png);
	width: 180px; 
	height: 230px; 
}

#modal-simple-template h5 {
	text-align: center;
}


/* tables */
table {
	border-collapse: collapse;
	border-color: gray;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	border-bottom: 1px solid #d1d2da;
	border-right: 1px solid #d1d2da;
	padding: 3px 5px 2px 5px;
	text-align: center;
	color: #666;
	font-weight: 600;
	font-size: 12px;
	text-shadow: 0 1px rgba(255,255,255,0.5);
	background-color: #eaeaea;
}
table.tablesorter thead tr .header {
	background-image: url(../tablesorter/bg.gif);
	background-repeat: no-repeat;
	background-position: right;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../tablesorter/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../tablesorter/desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #f2f3f7;
}

.close-preview {
	background-color: gray;
	color: white;
	border-radius: 50%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 13px;
	padding-right: 13px;
	border: 1px solid lightgray;
	position: absolute;
	margin-left: 98%;
	margin-top: -2%;
	cursor: pointer;
}

.add_facebook_account, .add_twitter_account {
	text-align: end;
	margin-top: 10px;
}


.flashmessage-info {
	background-color: #ccdcea;
	color: #3c6a95;
	border-radius: 8px;
	border: 1px solid #a8c3dc;
	padding: 4px;
}

.flashmessage-block {
	background-color: #f6e1a4;
	color: #a37f11;
	border-radius: 8px;
	border: 1px solid #f1d276;
	padding: 4px;
}

.flashmessage-error {
	background-color: #e8a397;
	color: #7d2a1c;
	border-radius: 8px;
	border: 1px solid #de7e6d;
	padding: 4px;
}

.flashmessage-success {
	background-color: #acd954;
	color: #2b3a0d;
	border-radius: 8px;
	border: 1px solid #97cc2e;
	padding: 4px;
}

.preview-message-info {
	background-color: #ccdcea;
	float: left;
	width: 50px;
	height: 50px;
	border: 1px solid #A5CBEB;
	border-radius: 8px;
	margin-right: 10px;
	margin-top: 10px;
}

.preview-message-warning {
	background-color: #f6e1a4;
	border-radius: 8px;
	border: 1px solid #f1d276;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	margin-top: 10px;
	float: left;
}

.preview-message-danger {
	background-color: #e8a397;
	border-radius: 8px;
	border: 1px solid #de7e6d;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	margin-top: 10px;
	float: left;
}

.preview-message-success {
	background-color: #acd954;
	border-radius: 8px;
	border: 1px solid #97cc2e;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	margin-top: 10px;
	float: left;
}

.flashmessage-title {
	
}

.flashmessage-text {
	font-size: 13px;
}

.google-analytics-logo {
	background-image: url(../images/logo-google-analytics.png);
	width: 180px;
	height: 40px;
	border: 1px solid #97cca4;
}

.google-analytics-active {
	background-color: #acd954;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	border: 1px solid #97cc2e;
	float:right;
}

.google-analytics-inactive {
	background-color: #e8a397;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	border: 1px solid #de7e6d;
	float:right;
}

.google-analytics-default {
	background-color: #D8D8D8;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	border: 1px solid #6c6c6c;
}
.social-account-icon {
	width: 60px;
	text-align: center !important;
	vertical-align: middle !important;
}
.btns-social-column {
	width: 85px;
}
.social-account-name-column {
	vertical-align: middle !important;
}
.social-account-name {
	font-size: 17px;
	text-align: center;
	font-weight: 600;
}
.table-container-social-media-list {
	width: 550px;
	display: block;
    margin-left: auto;
    margin-right: auto
}
.social-media-new-account {
	margin-top: 10px;
}
.social-media-new-account a {
	margin-right: 10px;
}
.social-account-name.socil-account-deactivated {
	color: red;
}
.social-account-name.socil-account-deactivated > span{
	font-size: 14px;
}
.unsubscribe-button {
	height: 42px;
	width: 170px;
	border-radius: 5px;
	font-size: 18px;
}
.unsubscribe-contact-information {
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
}
.unsubscribe-contact-information table {
	width: 100%;
}

.title-search {
	font-size: 35px;
	text-align: center;
	color: #6e97aa;
	font-weight: lighter;
	text-shadow: 0 1px #aaa;
	padding-bottom: 20px;
}
.full-contact-information {
	margin-left: 18%
}
.contact-information {
	width: 400px;
	float: left;
}
.contact-details {
	width: 300px;
	float: left;
	margin-left: 25px;
}
.contact-information .box-header, .contact-information .box-footer, .contact-details .box-header {
	text-align: center;
}
.contact-history-span {
	margin-left: 0 !important;
}
.contact-information .title, .contact-details .title {
	float: none !important;
}
.table-for-contact-events, .table-for-contact-mails {
	width: 550px;
}
.contact-history-span > .box {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 750px;
}
.contact-event-type, .contact-event-date {
	width: 20%;
}
.contact-history-event-text {
	text-align: center !important;
}
.list-import-process {
	margin-right: 15px;
}

.edit-contact-online {
	background-color: transparent !important;
    border: none !important;
	border-bottom: 1px dotted #999 !important;
	border-top: none !important; 
	border-left: none !important; 
	border-right: none !important;
}

/*-----------------//-----------------// FORMULARIOS //-----------------//-----------------*/

.form-options {
	background-color: rgb(228, 228, 228);
	line-height: 2.4;
	text-align: center;
	padding: 10px;
	border: 1px dashed lightgray;
	cursor: pointer;
}
.title-fields-options {
	border: none;
}
.form-full-content {
	padding-bottom: 20px;
}
.form-title-name {
	padding: 10px;
	font-weight: bold;
	font-size: 17px;
}
.field-zone-name {
}
.field-content-zone {
	cursor: move;
}
.field-option-disabled {
	color: rgb(180, 180, 180) !important;
	background-color: rgb(243, 243, 243) !important;
	cursor: auto !important;
}
.field-edit-zone {
	background-color: rgb(247, 236, 222);
	padding: 15px;
	font-size: 14px;
}
.form-field-editing {
	background-color: #d5d5d5 !important;
	color: #888 !important;
}
.field-content-zone input{
	cursor: move;
}
.field-content-zone:hover {
	background-color: antiquewhite;
}
.hide-form-field {
	display: none;
}
span.required {
 color:@brand-danger;
 padding-right: 4px;
}
.form-field-hide-selected {
	font-style: italic;
	background-color: rgb(233, 233, 233);
}
.col-without-padding {
	padding: 0px;
	margin-right: 5px;
}
.select-day-number-form {
	padding: 6px 9px;
}
.field-zone-name {
	word-break: break-word;
}
.create-email-spot, button.btn-form-email-creator-save/*, div.optin-information-container*/ {
	display: none;
}
#colorchart td {
	width: 25px !important;
	height: 25px !important;
	cursor: pointer;
	border: 2px lightgray solid;
}
#colorchart {
	border-collapse: separate;
	border: 4px gray solid;
}
#color.text-for-db-color {
	display: none !important;
}
#colorchart td:hover {
	opacity: 0.5;
}
.color-selected {
	border: 2px blue solid !important;
}
.field-element-form-hide, .social-input-hide {
	display: none;
}
.edit-fb-image-container {
	float: right;
	z-index: 150;
	position: absolute;
}
#fb-share-image {
	position: absolute;
}
.container-fb-first {
	width: 154px;
	height: 154px;
	background-color: #FAFAFA;
	padding-left: 0;
}
.container-fb-second {
	float: left;
}
.edit-fb-image-tool {
	position: relative;
	left: 2px;
	top: 4px;
	padding: 2px;
	border-radius: 4px;
	cursor: pointer;
	border: 1px solid #E4E4E4;
	background-color: #F5F5F5;
}

.image-galery-selected {
 border: 4px solid #0FBF1B !important;
 border-radius: 5px;
}
.image-from-gallery {
 border: 1px dashed #68a6ce;
}
.image-from-gallery:hover {
 border: 1px dashed transparent !important;
 background-color: #CDDCF0;
}

.btn-for-modal-accordion {
	width: 120px;
}

.modal-prevew-width {
	width: 800px !important;
}

.modal-prevew-content {
	height: 650px !important;
}

.modal-prevew-body {
	height: 520px !important;
}

.modal-preview-body-footer {
	height: 300px !important;
}

.dz-message {
	text-align: center;
	font-family: inherit;
	font-size: 25px;
}

.group-datepicker {
	padding-top: 0px !important;
}

.primary-field {
	color: #5bc0de;
}

.prefix {
	padding-left: 15px !important; 
	padding-right: 15px !important;
}
.footer-html {
	background-color: white;
	border: 1px solid #ddd
}
.footer-html > table {
	margin: auto;
}

.select2view {
	width: 100%;
}

.twdescription {
	margin-top: 11px;
	background-color: #c0deed;
	border-radius: 5px;
	border: 1px solid #F2F2F2;
	box-shadow: 2px 2px 5px 0px #F5F5F5;
}

.fbdescription {
	margin-top: 11px;
	background-color: #8b9dc3;
	border-radius: 5px;
	border: 1px solid #f7f7f7;
	box-shadow: 2px 2px 5px 0px #f7f7f7;
}

.img-post-face {
	position: relative;
}