.badge-number-dark,
.badge-number-light {
/*	height: 78px; */
	border-radius: 5px;
	margin: 5px;
	padding: 12px;
	text-align: right;
}
.badge-number-dark {
	background: #999;
}
.badge-number-light {
	background: #ddd;
}
.number-huge {
	font-size: 48px;
	font-weight: bold;
}
.number-large {
	font-size: 30px;
	font-weight: bold;
}

.number-medium {
	font-size: 24px;
	font-weight: bold;
}
.regular-text {
	font-size: 12px;
	color: #222;
}
.text-green-color {
	color: green;
}
.text-gray-color {
	color: #888;
}
.text-brown-color {
	color: #a99;
}
.text-red-color {
	color: red;
}
.return-upper-right-corner {
	line-height: 150px;
	text-align: center;
}
.break-word {
	word-wrap: break-word;
}