/* 
    Document   : sidebar-media-queries
    Created on : 22/09/2014, 05:07:05 PM
    Author     : Will
    Description:
        Purpose of the stylesheet follows.
*/

/*@media all and (max-width: 699px) and (min-width: 520px){
	.principal-menu {
		margin-top: 5%;
		display: block;
		position: fixed;
		box-shadow: 2px 2px 3px #ccc;
		border-radius: 0 8px 8px 0;
		width: 7%;
	}

	.principal-menu > ul{
		padding: 10%;
		list-style: none;
		position: relative;
		padding-top: 22%;
	}

	.principal-menu > ul > li > a{
		color: white;
		display: block;
		position: relative;
		margin-bottom: 5px;
	}

	.principal-menu li.active a{
		color: #FF6E00 !important;
	}

	.principal-menu > ul > li > a:hover {
		text-decoration: none;
		color: #FF6E00 !important;
	}

	.principal-menu > ul > li .item-icon_menu {
		font-size: 3em;
		text-align: center;
		margin: auto;

	}

	.principal-menu > ul > li .item-title-menu {
		font-size: 0.8em;
		text-align: center;
		padding-bottom: 15px;
	}
}*/

@media (min-width: 1381px){
	.principal-menu {
		margin-top: 5%;
		display: block;
		position: fixed;
		box-shadow: 2px 2px 3px #ccc;
		border-radius: 0 8px 8px 0;
		width: 7%;
	}

	.principal-menu > ul{
		padding: 10%;
		list-style: none;
		position: relative;
		padding-top: 22%;
	}

	.principal-menu > ul > li > a{
		color: white;
		display: block;
		position: relative;
		margin-bottom: 5px;
	}

	.principal-menu li.active a{
		color: #FF6E00 !important;
	}

	.principal-menu > ul > li > a:hover {
		text-decoration: none;
		color: #FF6E00 !important;
	}

	.principal-menu > ul > li .item-icon_menu {
		font-size: 3em;
		text-align: center;
		margin: auto;

	}

	.principal-menu > ul > li .item-title-menu {
		font-size: 0.8em;
		text-align: center;
		padding-bottom: 15px;
	}
}

@media (min-width: 1200px) and (max-width: 1380px) {  
	.principal-menu {
		margin-top: 1%;
		display: block;
		position: fixed;
		box-shadow: 2px 2px 3px #ccc;
		border-radius: 0 8px 8px 0;
		width: 7%;
	}

	.principal-menu > ul{
		padding: 10%;
		list-style: none;
		position: relative;
		padding-top: 22%;
	}

	.principal-menu > ul > li > a{
		color: white;
		display: block;
		position: relative;
		margin-bottom: 5px;
	}

	.principal-menu li.active a{
		color: #FF6E00 !important;
	}

	.principal-menu > ul > li > a:hover {
		text-decoration: none;
		color: #FF6E00 !important;
	}

	.principal-menu > ul > li .item-icon_menu {
		font-size: 3em;
		text-align: center;
		margin: auto;

	}

	.principal-menu > ul > li .item-title-menu {
		font-size: 0.8em;
		text-align: center;
		padding-bottom: 15px;
	}
}





/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { }
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {  }
/* Landscape phones and down */
@media (max-width: 480px) { }