.clicksColor {
	color: #8cc079;
}
.totalColor {
	color: #81babd;
}
.darkturquoise {
	color: #08C;
}

.unsubscribedColor {
	color: #8c8689;
}

.red {
	color: red;
}

.green-color {
	color: #74b35d;
}

.links-select {
	margin-left: 380px;
}

.label-green-percent {
	background: #8cc079;
	font-size: 16px;
	padding: 3px;
	text-align: center;
	color: white;
	border-radius: 5px;
}

.label-blue-percent {
	background: #7fb3d4;
	font-size: 16px;
	padding: 3px;
	text-align: center;
	color: white;
	border-radius: 5px;
}

.label-gray-light-percent {
	background: #CDCDCD;
	font-size: 16px;
	padding: 10px;
	color: black;
	border-radius: 5px;
}

.blue-color {
	color: #60a1ca;
}

.sea-blue-color {
	color: #3162C5;
}
td h3 {
	text-align: center;
}

.titleMail {
	text-align: center;
}

.news .avatar.red {
	background: red;
	border: 1px solid red;
	background-image: -webkit-linear-gradient(top,#fa3939,red);
}

.news .avatar.sea-blue-color {
	background: #3162C5;
	border: 1px solid #3162C5;
	background-image: -webkit-linear-gradient(top,#3162F9,#3162C5);
}

.news .avatar.darkred {
	background: #953B39;
	border: 1px solid #953B39;
	background-image: -webkit-linear-gradient(top,#a35856,#953B39);
}

.news .avatar.gray {
	background: #8c8689;
	border: 1px solid #8c8689;
	background-image: -webkit-linear-gradient(top,#999697,#8c8689);
}
.dataMailContacts > ul {
	list-style-type: none;
}

.label-click-percent {
 background: #81babd;
 font-size: 18px;
 padding: 3px;
 text-align: center;
 color: white;
 border-radius: 5px;
}



.time-graph {
	width: 500px;
	height: 250px;
}

label > table {
	width: 100%;
}

.clicksColor {
	color: #81babd;
}
.totalColor {
	color: #85adc7;
}

.subtitleColor li{
	list-style-type: none;
}

.openColor a{
	color: #8cc079 !important;
}

.clicksColor a{
	color: #81babd !important;
}

.spamColor a{
	color: #d12929 !important;
}

.bouncedColor a{
	color: #953B39 !important;
}

.unsubscribedColor a{
	color: #8c8689 !important;
}

.unsubscribedColor{
	color: #8c8689 !important;
}

.openColor{
	color: #8cc079;
}

.spamColor {
	color: #d12929;
}

.bouncedColor {
	color: #953B39;
}

.infoStat {
	float: left;
	margin-top: 25px;
}

.scaleChart {
	margin-right: 50px;
}

.label-openings {
	font-size: 30px;
	font-weight: 600;
	color: #8cc079;
}

.avatar-openings {
	float: left;
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background: #8cc079;
	text-align: center;
	padding: 0px;
	margin: 0px;
	border: 1px solid;
	border-color: #7bc95e;
}

.label-clicks {
	font-size: 30px;
	font-weight: 600;
	color: #85adc7;
}

.avatar-clicks {
	float: left;
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background: #85adc7;
	text-align: center;
	padding: 0px;
	margin: 0px;
	color: white;
}

.label-unsubscribed{
	font-size: 30px;
	font-weight: 600;
	color: #8c8689;
}

.avatar-unsubscribed {
	float: left;
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background: #8c8689;
	text-align: center;
	padding: 0px;
	margin: 0px;
	color: white;
}

.label-bounced {
	font-size: 30px;
	font-weight: 600;
	color: #953B39;
}

.avatar-bounced {
	float: left;
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background: #953B39;
	text-align: center;
	padding: 0px;
	margin: 0px;
	color: white;
}

.label-sent {
	font-size: 30px;
	font-weight: 600;
	color: #123d59;
}

.avatar-sent {
	float: left;
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background: #123d59;
	text-align: center;
	padding: 0px;
	margin: 0px;
	color: white;
}

.label-spam {
	font-weight: 100;
	color: #d12929;
	text-align: left;
}

.icon-3x {
	font-size: 3em;
	color: #fbfbfb;
	line-height: 45px;
}

.icon-4x {
	font-size: 5em;
	color: #fbfbfb;
	line-height: 80px;
}

.new-btn-black {
	background-image: url('../images/btn-yellow.png');
	background-repeat: repeat-x;
	width: 150px;
	height: 50px;
	color: white;
	font-size: 25px;
	border-radius: 10px;
	border: 1px solid transparent;
}