table {
	width: 100%;
}

.module-cont {
	border: solid 1px black;
	min-height: 490px;
	height: auto;
	position: relative;
	overflow: visible;
	padding: 5px;
}

.sub-mod-cont {
	min-height: 120px;
	height: auto;
	position: relative;
	border: dashed 1px #d1cccc;
}
.sub-mod-cont:hover {
	border: solid 2px #68a6ce;
}

.module-cont .module {
	margin: 4px;
	min-height: 50px;
	padding: 3px;
	position: relative;
	border: 1px dotted #dddddd;
}

.module-cont .module.module-separator {
	min-height: 25px;
}

.info-guide {
	display: none;
    text-align: center;
	position: absolute;
	width: 100%;
}

.module-cont .module .tool {
	height: 16px;
	width: 16px;
	position: absolute;
	cursor: pointer;
	top: 0px;
	background-color: lightgray;
}
.module-cont .module .tool:hover {
	background-color: darkgray;
}
.module-cont .module .handle-tool {
	left: 0;
	cursor: move;
}
.module-cont .module .remove-tool {
	left: 16px;
}

.module-cont .module .edit-box-tool {
	left: 32px;
}

.module-cont .module .link-tool {
	left: 32px;
}
/*.module-cont .module .edit-image-tool{
	left: 32px;
}*/

.tools {
	float: left;
	margin-bottom: 15px;
	display: none;
}

/*.module-cont .module .save-tool {
	height: 16px;
	width: 16px;
	position: absolute;
	display: none;
	cursor: pointer;
	top: 0px;
	background-color: lightgray;
	left: 48px;
	z-index: 1000;
}*/
.module-cont .module:hover {
	border: 1px dashed #8d8d8d;
}
.module-cont .module:hover .tools {
	display: block;
}

.module-cont .placeholder {
	min-height: 80px;
	background-color: skyblue;
}

.placeholder:before {
	content: 'Drop here!';
}

#toolbar {
	position: relative;
}
#toolbar .module {
	z-index: 1;
	position: relative;
	margin-top: 5px;
	cursor: move;
	border: solid 1px lightgray;
}

#toolbar .module hr {
	margin: 0;
}

.module hr {
	margin: 12px 0;
	height: 2px;
	background-color: black;
}

#edit-area .sub-mod-cont:hover .info-guide {
	display: block;
}

#edit-area {
	padding-top: 20px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

#components .content {
	display: none;
}

#components .module {
	height: 90px;
	width: 90px;
	background-position:center; 
	background-repeat: no-repeat;
}

.layout img {
	height: 95px;
}

#components .module:hover {
	background-color: lightgray; 
}

#components .module-text-image {
	background-image: url('../images/captionleft.png');
}

#components .module-image-text {
	background-image: url('../images/captionright.png');
}

#components .module-text-only {
	background-image: url('../images/text.png');
}

#components .module-text-boxed {
	background-image: url('../images/boxedtext.png');
}

#components .module-image-only {
	background-image: url('../images/image.png');
}

#components .module-separator {
	background-image: url('../images/divider.png');
}

#components .module-social-share {
	background-image: url('../images/socialfollow.png');
}

#components .module-social-follow {
	background-image: url('../images/socialfollow.png');
}

#components .module-button {
	background-image: url('../images/button.png');
}

.full-width {
	float: left;
	width: -moz-calc(100% - 4px);
	width: -webkit-calc(100% - 4px);
	width: calc(100% - 4px);
	width: 550px;
	margin-left: 150px;
}

.half-width {
	float: left;
	width: -moz-calc(50% - 4px);
	width: -webkit-calc(50% - 4px);
	width: calc(50% - 4px);
	width: 273px;
}

.third-width {
	float: left;
	width: -moz-calc(33.3% - 3.8px);
	width: -webkit-calc(33.3% - 3.8px);
	width: calc(33.3% - 3.8px);
	width: 182.0px;
}

.full-width + .third-width, .full-width + .half-width, .full-width + .twothird-width {
	margin-left: 150px;
}

.twothird-width {
	float: left;
	width: -moz-calc(66.6% - 3.8px);
	width: -webkit-calc(66.6% - 3.8px);
	width: calc(66.6% - 3.8px);
	width: 366.0px;
}

.show-zones-draggable {
	border: solid 2px #68a6ce;
}

#tabcomponents {
	display: none;
}

#tabimages {
	display: none;
}

#tabstyles {
	display: none;
}

.redactor_box {
	border: none;
	position: initial;
}

.content-text {
	position: initial;
	word-break: break-all;
}

.content-image {
	min-width: 100px;
}

.media-object {
	cursor: pointer
}

#imagedisplayer {
	width: 260px;
	background-color: white;
	margin-right: 35px;
}

.module-container {
	float: left;
	margin: 5px;
/*	background-color: lightblue;
	padding: 8px;
	border-radius: 5px;*/
}

.module-information {
	text-align: center;
}

.dz-message {
	text-align: center;
	font-family: inherit;
	font-size: 25px;
}

.nav-tabs-in-modal {
	margin-top: 15px;
	margin-left: 15px;
}

#images.modal.fade.in {
	top: 5%;
}

.medias img{
	margin: 5px;
}

.redactor_box, .redactor_editor, .redactor_editor:focus {
	background-color: transparent !important;
}
#edit-area, #toolbar {
	overflow-y: scroll;
}

#edit-area, .sub_social_content {
	margin-left: 15px;
}

.redactor_toolbar li a.redactor_btn_save  {
    background: url('') no-repeat;
}

.pull-center img,  span.pull-center{
	display: block;
    margin-left: auto;
    margin-right: auto
}

.sub_social_content, .infoSocial, .asignSocial, .imageSocial {
	float: left;
}

.socialComponent, .infoSocial, .asignSocial {
	margin: 15px;
}

.link_text {
	text-align: center;
}

#align_image, #align_vertical_image, #link_image {
	display: none;
	margin-top: 25px;
}

#images {
	width:600px;
}

.image-options {
	margin-left: 10px;
}

.image-options input {
	width: 165px;
}

.gallery-header, .button-header {
	cursor: move;
}

.gallery-header h3, .button-header h3 {
	text-align: center;
}

.gallery-header button {
	padding: 0px 4px 4px 4px;
	background-color: darkgray;
}

#imageslider .slider-selection {
	background: gray;
}

#imageslider .slider-handle  {
	background: #0088cc;
}

#imageslider .slider-track  {
	background: white;
}

#oneimage, #gallery, #uploadimage{
	background-color: #DFDFDF;
}

.none-layout-image {
	background-image: url('../images/n1.png');
	background-repeat: no-repeat;
	background-position:center;
	height: 450px;
	margin-bottom: -140px;
}

#none-layout h3 {
	text-align: center;
}

.image-placeholder, .image-text-placeholder {
	background-image: url('../images/image.png');
	background-position: center;
	background-repeat: no-repeat;
	background-color: #ededed;
	border-radius: 5px;
}

.image-placeholder {
	height: 150px;
	width: 820px;
}

.image-text-placeholder {
	height: 120px;
	width: 250px;
}

#accordion .accordion-group {
	border: none;
}

.content-button {
	cursor: pointer;
	background-color:#556270;
	color:#ffffff;
	display:inline-block;
	font-family:sans-serif;
	font-size:13px;
	font-weight:bold;
	line-height:40px;
	text-align:center;
	text-decoration:none;
	width:120px;
	-webkit-text-size-adjust:none;
	mso-hide:all;
}

.btnmodalleft {
	float: left;
	width: 250;
}

.btnmodalright {
	float: left;
}

.colorpicker, .colorpicker * {
    z-index: 9999;
}

#btnradius {
	width: 70px;
}

#btntext, #btnlink, #btnbgimage {
	height: 30px;
}

#btnwidth, #btnheight {
	width: 70px;
	height: 30px;
}

#edit-area .module-text-boxed {
	border: 1px solid #999999;
	background-color: #ebebeb;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}
#boxborderradius, #boxborderwidth {
	width: 55px;
	height: 30px;
}

#boxborderstyle {
	margin-left: 15px;
	margin-right: 15px;
}