/* Colores */
// Colores de BOOTSTRAP ______
@brand-primary: #428bca;
@brand-success: #5cb85c;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;


@brand-white: #f5f5f5;
@brand-blue: #6e97ac;
@brand-sad-blue: #b3e3e4;
@brand-gray: #9d9d9d;
@brand-green: #97c86b;
@brand-orange:#EF8807;
@brand-red:#bd1b06;
@brand-soft-color: #adadad;
@brand-gray-light: #eeeeee;
@brand-gray-dark: #505050;
@brand-sectiontitle: #20526e;
@brand-pink: #ff90a8;

@bg-default-btn: #cccccc;
@bg-delete-btn: #ac1905;
@text-color-btn: #428bca;
@bg-guardar-btn: #189308;
@bg-add-btn: #78cae9;

@menu-background: #20526e;

/* Bg titulos  */
@bg-info-yellow: #ffedd1;

/* Bg informacion cuenta  */
@bg-info-blue: #e9eff2;

@social-network-bg: @brand-soft-color;


/*  botones de accion grandes  */

@orange-action-button: @brand-orange;
@orange-action-strong: #ffab1a;
@border:2px solid @orange-action-strong;
@bgcolor: #a4c3d4;

@summary-icons-height: 46px;
@summary-icons-width: 46px;

@shortcuts-big-icons-height:134px;
@shortcuts-big-icons-width:134px;

/*  botones small de accion  */

@shortcuts-small-icons-height:34px;
@shortcuts-small-icons-width:34px;

@sm-icon-pos-y:-135px;

/* MIXINS */
.pos-icons(@idx, @w: @summary-icons-width) {
	@position: -(@idx * (@w + 1));
}


/* Estilos */
body {
	background-color: @brand-white;
}
.space {
	margin-bottom: 40px;
}
.wrap {
	background-color: @bg-info-blue;
	padding: 12px 0;
	margin-bottom: 20px;

}

/* Estilos para los titulos de seccion */
h4.sectiontitle {
	background-color: @bg-info-blue;
	padding: 10px;
	color: @brand-sectiontitle;
	margin-bottom: 30px;
}

.box-dashboard-summary {
	border-radius: 6px;
	margin: 0 0 30px 0;
	padding: 20px 0;
	text-align: center;
	color: @brand-white;
}
[class^="sm-icons-summary-"] {
	background: transparent url('../images/sm-icons.png') no-repeat 0 0;
	height: @summary-icons-height;
	width: @summary-icons-width;
}
.sm-icons-summary-opens {
	background-position: 0 0;
}
.sm-icons-summary-clicks {
	.pos-icons(1);
	background-position: @position 0;
}
.sm-icons-summary-unsubscribed {
	.pos-icons(2);
	background-position: @position 0;
}
.sm-icons-summary-bounced {
	.pos-icons(3);
	background-position: @position 0;
}
.sm-icons-summary-fb {
	.pos-icons(4);
	background-position: @position 0;
}
.sm-icons-summary-tw {
	.pos-icons(5);
	background-position: @position 0;
}

.summary-opens {
	background: @brand-green;
}
.number-stats-dashboard-summary {
	font-size: 48px;
	color: @brand-white;
	padding: 20px 8px;
	text-align: center;
}
@media screen and (max-width:1280px) {
	.number-stats-dashboard-summary {
		font-size: 36px;
	}
}
@media screen and (max-width:1024px) {
	.number-stats-dashboard-summary {
		font-size: 32px;
	}
}
@media screen and (max-width:800px) {
	.number-stats-dashboard-summary {
		font-size: 26px;
	}
}

.summary-unsubscribed {
	background-color: #a1dcfb;
}
.summary-clicks {
	background-color: #6e97ac;
}
.summary-bounced {
	background-color: #ffa100;
}
.summary-box-social {
	background-color: @social-network-bg;
	padding-bottom: 0px;
}
.border-top {
	border-top:1px solid @brand-white;
}
.social-sec-box {
	padding-bottom: 5px;
	padding-top: 5px;
	border-left: 1px solid @brand-white;
}
.social-sec-box:first-child {
	border-left: 0px;
}
.summary-fb p {
	padding-right: 10px;
	text-align: right;
	font-size: 20px;
}
.table-normal thead th {
	height: 100px;
	vertical-align: bottom;
	text-align: center;
	font-weight: normal;
}
.table-normal thead th.opens {
	background: transparent url('../images/icon-email-open-color.png') no-repeat center 12px;
	color: @brand-green;
}
.table-normal thead th.clics {
	background: transparent url('../images/icon-clics-color.png') no-repeat center 12px;
	color: #6e97ac;
}
.table-normal thead th.desusc {
	background: transparent url('../images/icon-desusc-color.png') no-repeat center 12px;
	color: #a1dcfb;
}
.table-normal thead th.bounced {
	background: transparent url('../images/icon-bounced-color.png') no-repeat center 12px;
	color: #ffa100;
}
.table-normal tbody td {
	text-align: center;
}
.table-normal tbody td.left {
	text-align: left;
}
/* --- Para resolver el problema de los tooltips de sparklines --- */
.jqstooltip {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
/* --- Fin para resolver el problema de los tooltips de sparklines --- */

/* Estilos para la navegacion vertical principal */
#sidebar-background-object{
	position:fixed;
	height:100%; 
	top: 0; 
	background-color:@menu-background;
}

.sidebar {
	background-color: @menu-background;
	height: 100%;
	float: left;
	margin: 0px;
	padding: 0px;
	z-index: 2;
}
#main-navigation li {
	border-left:6px solid #f5f5f5; 
	margin-top: 0px;
}
#main-navigation li a {
	color:#e6ba7b;
	font-size: 15px;
	padding: 15px;
}
#main-navigation li.active ,
#main-navigation li:hover {
	background-color: #f5f5f5;
	border-left:6px solid #20526e;
	border-radius: 0px;
}
#main-navigation li.active a,
#main-navigation li:hover a {
	background-color: #f5f5f5;
	border-radius: 0px;
	color:#20526e;
}
/* Estilos para la navegacion horizontal */
.navbar-default {
	background-color: @menu-background;
	border-radius: 0px;
	border-color:#20526e;
	margin-bottom: 0px;
}
#top-nav li a {
	color:#f5f5f5;
}
#top-nav li:hover a {
	color:#777;
}

/* Estilos para los botones grandes de accion */

.sm-btn-color-base(@bgcolor) {
	& {
		background-color: @bgcolor;
	}
	&:hover {
		background-color: darken(@bgcolor, 44%);
	}
}

.sm-btn-blue {
	.sm-btn-color-base(@bgcolor);
}
.sm-btn-blue.active {
	background-color: @brand-soft-color;
}

.to-do {
	text-align: center;
	display: block;
	border-radius: 3px;
	padding: 32px;
	background-color: @bgcolor;
	width: 190px;
	height: 190px;
	margin-bottom: 10px;
}
.small-btn {
	width: 42px;
	height: 42px;
	margin: 0;
	padding-top: 3px;
	border-radius: 2px;
}
.small-btn a {
	display: inline-block;
}
.sm-button-large-base {
	background: transparent url('../images/icon-buttons.png') no-repeat center center;
	height: @shortcuts-big-icons-height;
	width: @shortcuts-big-icons-width;
	display: inline-block;
}
.sm-button-large-email:extend(.sm-button-large-base) {
	.pos-icons(0, @shortcuts-big-icons-width);
	background-position: 0 0;
}
.sm-button-large-add-contacts:extend(.sm-button-large-base) {
	.pos-icons(1, @shortcuts-big-icons-width);
	background-position: @position 0;
}
.sm-button-large-database:extend(.sm-button-large-base) {
	.pos-icons(2, @shortcuts-big-icons-width);
	background-position: @position 0;
}
.sm-button-large-accounts:extend(.sm-button-large-base) {
	.pos-icons(3, @shortcuts-big-icons-width);
	background-position: @position 0;
}
.sm-button-large-users:extend(.sm-button-large-base) {
	.pos-icons(4, @shortcuts-big-icons-width);
	background-position: @position 0;
}
.sm-button-large-msj:extend(.sm-button-large-base) {
	.pos-icons(5, @shortcuts-big-icons-width);
	background-position: @position 0;
}
.sm-button-large-send-process:extend(.sm-button-large-base) {
	.pos-icons(6, @shortcuts-big-icons-width);
	background-position: @position 0;
}
.sm-button-large-program-envios:extend(.sm-button-large-base) {
	.pos-icons(7, @shortcuts-big-icons-width);
	background-position: @position 0;
}
.sm-button-large-socialnet:extend(.sm-button-large-base) {
	.pos-icons(8, @shortcuts-big-icons-width);
	background-position: @position 0;
}
.sm-button-large-contact-list:extend(.sm-button-large-base) {
	.pos-icons(20, @shortcuts-big-icons-width);
	background-position: @position 0;
}
.sm-button-large-segment:extend(.sm-button-large-base) {
	.pos-icons(9, @shortcuts-big-icons-width);
	background-position: @position 0;
}
.sm-button-large-bloq-list:extend(.sm-button-large-base) {
	.pos-icons(12, @shortcuts-big-icons-width);
	background-position: @position 0;
}
.sm-button-large-contact-search:extend(.sm-button-large-base) {
	.pos-icons(13, @shortcuts-big-icons-width);
	background-position: @position 0;
}
.sm-button-large-settings:extend(.sm-button-large-base) {
	.pos-icons(14, @shortcuts-big-icons-width);
	background-position: @position 0;
}
.sm-button-large-import-list:extend(.sm-button-large-base) {
	.pos-icons(15, @shortcuts-big-icons-width);
	background-position: @position 0;
}
.sm-button-large-admin-prog:extend(.sm-button-large-base) {
	.pos-icons(16, @shortcuts-big-icons-width);
	background-position: @position 0;
}
.sm-button-large-email-new:extend(.sm-button-large-base) {
	.pos-icons(17, @shortcuts-big-icons-width);
	background-position: @position 0;
}
.sm-button-large-plantillas:extend(.sm-button-large-base) {
	.pos-icons(18, @shortcuts-big-icons-width);
	background-position: @position 0;
}
.sm-button-large-email-list:extend(.sm-button-large-base) {
	.pos-icons(19, @shortcuts-big-icons-width);
	background-position: @position 0;
}
/*  */

.btn-actn {
	color:#123377;
	font-size: 18px;
	text-align: center;
}

/* Estilos para botones de accion pequeños */

.sm-button-small-base {
	background: transparent url('../images/icon-buttons.png') no-repeat center center;
	height: @shortcuts-small-icons-height;
	width: @shortcuts-small-icons-width;
	display: inline-block;
}
.sm-button-small-email:extend(.sm-button-small-base) {
	.pos-icons(0, @shortcuts-small-icons-width);
	background-position: 0 @sm-icon-pos-y;
}
.sm-button-small-contact-list:extend(.sm-button-small-base) {
	.pos-icons(1, @shortcuts-small-icons-width);
	background-position: @position @sm-icon-pos-y;
}
.sm-button-small-database:extend(.sm-button-small-base) {
	.pos-icons(8, @shortcuts-small-icons-width);
	background-position: @position @sm-icon-pos-y;
}
.sm-button-small-bloq-list:extend(.sm-button-small-base) {
	.pos-icons(4, @shortcuts-small-icons-width);
	background-position: @position @sm-icon-pos-y;
}
.sm-button-small-settings:extend(.sm-button-small-base) {
	.pos-icons(5, @shortcuts-small-icons-width);
	background-position: @position @sm-icon-pos-y;
}
.sm-button-small-import-contacts:extend(.sm-button-small-base) {
	.pos-icons(6, @shortcuts-small-icons-width);
	background-position: @position -129;
}
.sm-button-small-import-list:extend(.sm-button-small-base) {
	.pos-icons(6, @shortcuts-small-icons-width);
	background-position: @position @sm-icon-pos-y;
}
.sm-button-small-segment:extend(.sm-button-small-base) {
	.pos-icons(3, @shortcuts-small-icons-width);
	background-position: @position @sm-icon-pos-y;
}
.sm-button-small-contact-search:extend(.sm-button-small-base) {
	.pos-icons(2, @shortcuts-small-icons-width);
	background-position: @position @sm-icon-pos-y;
}
.sm-button-small-admin-prog:extend(.sm-button-small-base) {
	.pos-icons(16, @shortcuts-small-icons-width);
	background-position: @position @sm-icon-pos-y;
}
.sm-button-small-email-new:extend(.sm-button-small-base) {
	.pos-icons(17, @shortcuts-small-icons-width);
	background-position: @position @sm-icon-pos-y;
}
.sm-button-small-plantillas:extend(.sm-button-small-base) {
	.pos-icons(18, @shortcuts-small-icons-width);
	background-position: @position @sm-icon-pos-y;
}
.sm-button-small-email-list:extend(.sm-button-small-base) {
	.pos-icons(19, @shortcuts-small-icons-width);
	background-position: @position @sm-icon-pos-y;
}
/* Fin estilos para la navegación interna con iconos pequeños */

/* Estilos para la info sobre contactos */
.numbers-contacts {
	margin-bottom: 0px;
}
.numbers-contacts li {
	margin-bottom: 0px;
	text-align: center;
	padding: 0 15px;
}
.big-number {
	font-size: 30px;
}
.blue {
	color: @brand-blue;
}
.sad-blue {
	color: @brand-sad-blue;
}
.gray {
	color: @brand-gray;
}
.green {
	color: @brand-green;
}
.orange {
	color: @brand-orange;
}
.red {
	color: @brand-red;
}

/* botones standar de toda la aplicacion */

/*** Sobre escritura de estilos de botones ***/
.btn-default {
	background-color: @bg-default-btn;
	color: @text-color-btn;
	border: none;
}
.btn-default:hover {
	text-decoration: underline;
	color: darken(@bg-default-btn, 40%);
	transition: background-color 0.5s ease;
	text-decoration: none;
	background-color: darken(@bg-default-btn, 10%);
}
.extra-padding {
	padding-right: 25px;
	padding-left: 25px;
}
.btn-danger {
	border:none;
}
.btn-delete:hover {
	background-color: @bg-delete-btn;
	color: @brand-white;
	text-decoration: none;
}
.btn-guardar {
	background-color: @brand-success;
	color: @brand-white;
	text-decoration: none;
}
.btn-guardar:hover {
	transition: background-color 0.5s ease;
	background-color:#5eab07;
	text-decoration: none;
}
.btn-add:hover {
	transition: background-color 0.5s ease;
	background-color:#58abca;
	color: @brand-gray-light;
	text-decoration: none;
}
.no-bg {
	background-color: transparent;
}
.no-bg:hover {
	background-color: transparent;
	border:none;
	box-shadow: none;
}
.btn-group.open .dropdown-toggle {
	box-shadow: none;
}
/* Estilos para la tabla de contactos */
table.table-contacts tbody tr td {
	vertical-align: middle;
}
.inactive {
	background-color: gray;
	width: 15px;
}
.unsubscribed {
	background-color: #333;
	width: 15px;
}
/* Estilos para contenedor con bg y paddings */
.frame-bg-pd {
	background-color: @brand-gray-light;
	padding: 9px 0;
	margin-bottom: 15px;
}
/* Estilos para los select de acciones en la tabla de contactos */

.alert-success span {
	font-size:40px;
}
/* Estilos formularios */
.form-actions {
	padding: 25px 80px 25px 0;
}

span.required {
	color:@brand-danger;
	padding-right: 4px;
}

/* Estilos para los flags de colores indicadores del estado de cada contacto */
.estado-contact .inactive {
	background-color: #b3e3e4;
	width: 15px;
}
.estado-contact .unsubscribed {
	background-color: #9d9d9d;
	width: 15px;
}

/* *** Callouts tomados de Bootstrap3 *** */
.bs-callout(@color, @bgcolor: lighten(@color, 35%)) {
    display: block;
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid @color;
    background-color: @bgcolor;
    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        color: @color;
    }
    p:last-child {
        margin-bottom: 0;
    }
    code, .highlight {
        background-color: #fff;
    }
}

.bs-callout-primary {
    .bs-callout(@brand-primary, lighten(@brand-primary, 45%));
}

.bs-callout-danger {
    .bs-callout(@brand-danger);
}

.bs-callout-warning {
    .bs-callout(@brand-warning, lighten(@brand-warning, 30%));
}

.bs-callout-info {
    .bs-callout(@brand-info);
}

.bs-callout-success {
    .bs-callout(@brand-success);
}
.spreadout(@color) {
	background-color: @color;
}
.table-striped tbody tr.spreadout  > td { 
	.spreadout(#f0eedf);
}
.table-striped tbody tr.spreadout:nth-child(odd) > td { 
	.spreadout(#f0eedf);
}
.report h4 {
	color:@brand-sectiontitle;
}

.mini-icon {
	color:@brand-sectiontitle;
	font-size: 20px;
	padding-top: 6px;
}
table.hight-line > tbody > tr > th {
	line-height: 2.2;
}
table.middle > tbody > tr > th > td {
	vertical-align: middle;
}
.right {
	text-align: right;
}

#colorchart td {
 width: 25px !important;
 height: 25px !important;
 cursor: pointer;
 border: 2px lightgray solid;
}
#colorchart {
 border-collapse: separate;
 border: 4px gray solid;
}
#color.text-for-db-color {
 display: none !important;
}
#colorchart td:hover {
 opacity: 0.5;
}
.color-selected {
 border: 2px blue solid !important;
}
/*  Estilos cajas de numeros bases de datos   */
.list-inline > li.card {
	padding: 5px 20px;
	border-radius: 5px;
	color: @brand-white;
	text-align: center;
}
.list-inline > li.card span {
	font-size: 30px;
}
.card {
	margin: 0 10px;
}
.cont {
	background-color: @brand-green;
}
.list {
	background-color: @brand-pink;
}
.seg {
	background-color: @brand-blue;
}
.bs-ember-href li a {
	cursor:pointer;
}



.sm-striped-bg-base(@w) {
	width: @w;
	background-size: 30px 30px;
	background-image: linear-gradient(
		45deg, 
		rgba(0, 0, 0, 0.1)  25%, 
		transparent       25%, 
		transparent       50%, 
		rgba(0, 0, 0, 0.1)  50%, 
		rgba(0, 0, 0, 0.1)  75%, 
		transparent       75%, 
		transparent
	);  
}

.sm-striped-bg { .sm-striped-bg-base(12px); }
.sm-striped-bg-sm { .sm-striped-bg-base(4px); }
